body {
    background-color: blanchedalmond;
    margin: 0px;
}
.header {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    height: 120px;
    align-items: center;
    background-color: aqua;
    font-family: sans-serif;
    box-shadow: 2px 5px 20px #64E9EE;
}
.facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.factbox {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    background-color: #F1F2F6;
    font-size: 18px;
    margin-left: 75px;
    margin-top: 50px;
    font-family: sans-serif;
    height: 200px;
    width: 500px;
    box-shadow: 0px 0px 10px #EC4E20;
    border-radius: 10px;
}
textarea {
    resize: none;
}